@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-wedkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Verdana, sans-serif;
}

html, body {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  background-image: url(../assets/bikebw.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.layer {
  background-color: rgba(22, 51, 66, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.logo {
  width: 4.5rem;
  display: block;
  margin-top: -2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: -10;
}

.image-wrapper {
  width: 100%;
  padding-top: 50%;
  background-size: cover;
  background-position: center;
  z-index: 100;
}

h1 {
  position: absolute;
  top: 4rem;
  padding: 0;
  width: 100%;
  color: #C2DEDB;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  z-index: -10;
}

.skull {
  width: 13rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  position: relative;
  z-index: -10;
}

h2 {
  position: absolute;
  top: 20.5rem;
  padding: 0.1rem;
  width: 100%;
  color: #FF7171;
  color: rgba(255, 113, 113, 0.87);
  text-align: center;
  font-size: 35px;
  z-index: 100;
  line-height: 1em;
}

p {
  font-size: 12px;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #C2DEDB;
  text-align: center;;
  margin-top: 4rem;
  z-index: 100;
}

.social {
  text-align: center;
  z-index: 1111100;
}
footer a {
  text-decoration: none;
}

footer img {
  display: inline-block;
  width: 3rem;
}

.nav {
  display: none;
}

.nav a {
  display: block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: #333;
  color: white;
}

.nav-check {
  position: absolute;
  top: -5rem;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 20px;
  margin-top: 1em;
  margin-left: 1em;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.li {
  list-style-type: none;
  text-align: center;
  color: white;
  display: block;
  padding: 4rem;
}

ul {
  margin: 0;
  padding: 0;
  background-color: #FF7171;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  p {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
  }

@media only screen and (min-width: 30em) {

  p {
    margin-left: 3rem;
    margin-right: 3rem;
  }

@media only screen and (min-width: 38em) {

  .skull {
    width: 11rem;
  }

  h2 {
    top: 18.3rem;
    font-size: 45px;
  }

  p {
    margin-left: 6rem;
    margin-right: 6rem;
  }

@media only screen and (min-width: 48em) {

  .skull {
    width: 20rem;
    margin-top: 4rem;
  }

  h2 {
    top: 28rem;
    font-size: 80px;
  }

  p {
    margin-left: 9rem;
    margin-right: 9rem;
    margin-top: 8.5rem;
    font-size: 14px;
  }

@media only screen and (min-width: 56em) {

  p {
    margin-left: 11rem;
    margin-right: 11rem;
    font-size: 14px;
  }

@media only screen and (min-width: 64em) {
